Flask==0.12
fdb==1.8.0
Flask-SQLAlchemy==2.3.1
Flask-Cors==2.1.2
SQLAlchemy==1.1.18
PyMySQL==0.7.11
requests==2.20.0
alembic==0.9.8
Flask-Restless==0.17.0
pandas==0.19.2
XlsxWriter==1.0.5
celery==4.2.1
simplejson==3.16.0
numpy==1.14.5


git+ssh://bitbucket.org/AndreNalevaiko/utilspy.git@v1.0.0
git+ssh://bitbucket.org/AndreNalevaiko/flask-user.git@v1.0.0